<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>単語リスト</title>
</head>

<body>
    {% if genre_list %}
    <div>
        <p>選択したジャンル</p>
        <p>{{ genre_list.genre }}</p>
        <input type="button" onclick="window.history.back();" value="ジャンルを選びなおす">
        <br>
        <a href="{% url 'cd_list' genre_list.id %}">単語リストの作成・削除</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'cd_genre' %}">ジャンルの作成・削除</a>
    </div>
    {% endif %}
</body>

</html>