<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>単語リスト</title>
</head>

<body>
    <h1>単語リスト</h1>
    <h2>単語リスト作成</h2>
</body>

</html>

#-------------

{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>単語リスト</title>
    <meta charset="UTF-8">
    <meta name="author" content="INIAD">
  </head>
  <body>

    <h1>単語リスト</h1>
    <p>単語リスト作成</p>
    <form action="{% url 'list' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">list_name</label><br>
        <input id="titleInput" name="list_name" type="text" placeholder="Input title">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
    <br>
    
    {% if Words %}
    {% for Word in Words %}
    <div class="text">
      <h2><a href="{% url 'wordA' Word.id %}">{{  Word.list_name }}</a></h2>
      <div>
        <a href="" onclick="like({{Word.id}});">
          Like: <span id="favorite{{Word.id}}">{{ Word.favorite }}</span>
        </a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No word.</p>
    {% endif %}
  </body>
</html>