<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>単語リスト</title>
</head>

<body>
    {% if info %}
    <div>
        <p>選択したジャンル</p>
        <p>{{ genre_list.genre }}</p>
        <input type="button" onclick="window.history.back();" value="ジャンルを選びなおす">
        <br>
        <a href="{% url 'cd_list' genre_list.id %}">単語リストの作成・削除</a>
        <br>
        <h2>単語リストを選択してください</h2>
        <ol>
        {% for i in info %}
            <li><a href="{% url 'list' i.id %}">{{ i.list_num }} {{ i.list_name }}</a></li>
        {% endfor %}
        </ol>
    </div>
    {% else %}
    <div>
        <a href="{% url 'cd_genre' %}">ジャンルの作成・削除</a>
        <br>
        <h2>ジャンルを選択してください</h2>
        <ol>
            {% for g in genre_list %}
            <li><a href="{% url 'name_list' g.id %}">{{ g.genre }}</a></li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}
</body>

</html>