<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>単語リスト</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'word/css/all.css' %}">
</head>

<body>
    <div id="container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'top' %}">トップページ</a></li>
                <li><a href="{% url 'genre_list' %}">単語リスト</a></li>
                <li><a href="{% url 'genre_select' %}">テストページ</a></li>
                <br>
                <br>
                <br>
                <li><a href="#" onclick="window.history.back(); return false;">前のページに戻る</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>単語リスト</h1>
            {% if info %}
            <div>
                <div>
                    <h2>リストの作成・削除</h2>
                    <br>
                    <a href="{% url 'cd_list' genre_list.id %}" class="slide">単語リストの作成・削除</a>
                    <br>
                </div>
                <br>
                <h2>選択情報</h2>
                <p>ジャンル: {{ genre_list.genre }}</p>
                <input type="button" onclick="window.history.back();" value="ジャンルを選びなおす">
                <h2>単語リストを選択してください</h2>
                <ul>
                    {% for i in info %}
                    <li><a href="{% url 'list' i.id %}">{{ i.list_num }} {{ i.list_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div>
                <div>
                    <h2>ジャンルの作成・削除</h2>
                    <br>
                    <a href="{% url 'cd_genre' %}" class="slide">ジャンルの作成・削除</a>
                </div>
                <br>
                <h2>ジャンルを選択してください</h2>
                <ol>
                    {% for g in genre_list %}
                    <li><a href="{% url 'name_list' g.id %}">{{ g.genre }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>