<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>単語テスト</title>
</head>

<body>
        <input type="button" onclick="window.history.back();" value="戻る">
        <h2>テスト内容を選択してください</h2>
        {% if info %}
        <div>
            <p>選択したジャンル</p>
            <p>{{ genre_list.genre }}</p>
            <a href="{% url 'genre_select' %}">ジャンルを選びなおす</a>
            <br>
            <h2>単語リストを選択してください</h2>
            {% for i in info %}
            <a href="{% url 'test' i.id %}">{{ i.list_num }} {{ i.list_name }}</a>
            {% endfor %}
        </div>
        {% else %}
        <div>
            <h2>ジャンルを選択してください</h2>
            {% for g in genre_list %}
            <a href="{% url 'num_select' g.id %}">{{ g.genre }}</a>
            {% endfor %}
        </div>
        {% endif %}
</body>

</html>